.App {
  text-align: center;
  position: relative;
  min-height: 100vh; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/* primary color rgb(37, 63, 212); */
/* secondary color rgb(109, 189, 17); */

@media screen and (max-width: 992px) {
  
}

.App-header {
  background-color: greenyellow;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.map-wrap{
  height: 70rem;
}

.body-wrap{
  height: 15rem;
}

.footer{
  height: 5em;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-radius: 100% / 100% 100% 0 0;
  background-color: rgb(37, 63, 212);
  padding-bottom: 0px;
}

.footer-curve{
  height: 100%;
  border-radius: 100% / 100% 100% 0 0;
  background: rgb(37, 63, 212);
  -webkit-box-shadow: 0px -3px 2px rgba(167, 167, 167, 0.842);
  -moz-box-shadow: 0px -3px 2px rgba(167, 167, 167, 0.842);
  box-shadow: 0px -3px 2px rgba(167, 167, 167, 0.842);
}

.footer-logo{
  margin-left: 10%;
  /* bottom: 5%;  */
}

.footer-row{
  align-items: center;
  background-color: rgb(37, 63, 212);
  padding-bottom: 3%;
}

.footer-icon{
  width: 15%;
  height: 15%;
}

.mapSearchComponent{
  display: flex;
  flex-direction: row; 
  margin-left: 50%;
  justify-content: center;
}

.mapDiv{
  height: 850px;
}

.nav-button {
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  cursor: pointer;
  display: block;
  color: white;
  font-weight: 300;
  line-height: 30px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
}

.nav-button:hover{
  color: white;
}

.nav-bg{
  background-color: rgb(37, 63, 212);
  -webkit-box-shadow: 0px 0 5px rgba(99, 99, 99, 0.842)
}

.nav-list{
  color:black; 
  margin-left: 1em; 
  font-size: 1em;
  padding-left: 12px;
  padding-right: 12px;
  background: linear-gradient(to left, rgb(37, 63, 212) 50%, rgb(109, 189, 17) 50%);
  background-size: 220% 100%;
  background-position:right bottom;
  transition: all 500ms ease-in-out;
  border-radius: 3px;
}

.nav-list:hover{
  background-position:left bottom;
}

.nav-right {
  color:black; 
  margin-left: 2em; 
  font-size: 1em;
  padding-left: 12px;
  padding-right: 12px;
  transition: all .2s ease-in-out;
  border-radius: 3px;
  background-color: rgb(109, 189, 17);
}

.nav-right:hover { 
  transform: scale(1.1); 
}

.nav-logo{
  margin-left: 1%;
  margin-right: 1%;
  width: 7%;
}

.nav-icon{
  width: 80%;
  height: 80%;
}

.banner-div {
  background-color: rgb(109, 189, 17);;
  border-radius: 10px; 
  padding: 3%;
  margin-top: 5%;
  -webkit-box-shadow: 0px 0 3px rgba(99, 99, 99, 0.842);
}

.banner-header{
  border-radius: 10px;
  padding: 10%;
  background-color: rgb(245, 245, 245);
  -webkit-box-shadow: 0px 0 3px rgba(99, 99, 99, 0.842);
}

.nav-right-btn{
  padding-right: 10px;
  padding-left: 10px;
}


/* h1, h2, h3, h4 {
  font-family: 'Roboto', 'sans-serif';
   font-weight: 400; 
} */


.nav-bar{
  background-color: rgb(109, 189, 17);;
}

.container{
  margin-bottom: 5%;
}

.card-image{
  height: 100%;
}

.cartItem {
  -webkit-box-shadow: 0px 0 5px rgba(99, 99, 99, 0.842)
}

.card-button-img {
  margin-top: 35%;
  height: .75em;
}

.carousel-div{ 
  padding-top: 2%;
  padding-bottom: 1%;
  margin-top: 1%;
  margin-left: 7%;
  margin-right: 5%;
  margin-bottom: 3%;
  border-radius: 1em;
  -webkit-box-shadow: 0px 0 3px rgba(99, 99, 99, 0.842);
  background-color: rgb(109, 189, 17);;
}

.modal-form{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}

.food-list-section{
  width: 100%;
  background-color: red;
}

.food-display-modal{
  left: 19%;
  top: 25%;
  height: 50%;
}

.itemDetails img {
  height: 500px;
  width: 500px;
}

.log-button{
  font-size: 15px;
}

.google-pic {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
}

.loaderDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

.wrapper{
  display: grid;
  position: relative;
  height: 120%;
  width: 100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.aboutDiv{
  background-color:rgb(37, 63, 212);
  border-radius: 10px; 
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: .5%;
  margin-top: 5%;
  -webkit-box-shadow: 0px 0 3px rgba(99, 99, 99, 0.842);
}

.aboutRow {
  justify-content: space-between;
}

.aboutBox {
  margin-top: 5%;
  padding: 5%;
  border-radius: 10px;
  background-color: rgb(109, 189, 17);;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0 5px rgba(99, 99, 99, 0.842)
}

.aboutPic {
  margin-top: 10%;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0 5px rgba(99, 99, 99, 0.842)
}

.aboutPicBox{ 
  height: 200px;
  margin-bottom: 20%;
}

.home-title {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 50px;
}

.home-title h1{
  margin-top: 10px;
  color:rgb(109, 189, 17);
  font-size: 3em;
}

.home-section-pic {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.home-section{
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.transition{
  opacity: 0;
  transition: opacity 1500ms ease-in;
}

.transition.appear{
  opacity:1;
}

.home-services-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(230, 230, 230, 0.842);
  height: 580px;
  padding: 50px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 1px rgba(99, 99, 99, 0.842);
}

.home-services {
  margin-top: 50px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;

}

.home-services-col {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 55px;
  border-radius: 10px;
  transition: background-color 150ms ease-in;
}

.home-services-col h3{
  color: rgb(109, 189, 17);
  margin-top: 30px;
}

.home-services-col:hover {
  background-color: rgba(250, 250, 250, 0.842);
}

.quote-form {
  width: 70%;
  padding: 30px;
  margin-top: 50px;
  border-radius: 5px;
  background-color: rgb(37, 63, 212);
  box-shadow: 0 0 20px 0 #095484; 
}

.quote-form-banner{
  background-color: rgb(109, 189, 17);;
  padding: 20px;
  box-shadow: 0 0 20px 0 #095484; 
  margin-bottom: 30px;
}

.home-header {
  background-image: url("https://canddmovingservice.com/files/2014/04/boxes-2.jpg?w=1440&amp;h=598&amp;a=t");
  height: 550px;
  margin:0 auto;
  padding: 50px 50px;
}

.header {
  background: rgb(109, 189, 17);; 
  height: auto;
  padding: 50px 50px;
}

.header-margin {
  padding: 100px;
  padding-left: 100px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.header-banner {
  color: rgb(0, 0, 0);
  font-family: Arial;
  text-align: center;
  font-size: 2.5em;
}

.header-link {
  display: block;
  text-align: center;
  width: 150px;
  margin: 0px auto;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  font-family: Arial;
  border: 1px solid #fff;
  text-decoration: none;
  border-radius: 10px;
}

.about-bg {
  background-color: rgb(50, 94, 238);
}

.about {
  margin-top: 5%;
  display: flex;
}

.about-text {
  color: white; 
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-left: 3%;
  width: 40%;
}

.about-text p {
  font-size: 1.3em;
}


.about-pic {
  width: 60%;
  height: 70%;
  padding: 3%;
}

.contact {
  display: flex;
  margin-top: 40px;
}

.contact-icon-text {
  margin-top: 10px;
  font-size: 1.2em;
}

.contact-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-left: 3%;
  width: 40%;
}

.contact-form {
  width: 60%;
  height: 70%;
  padding: 4%;
  margin: 3%;
  border-radius: 1em;
  background-color: rgba(214, 214, 214, 0.842);
  -webkit-box-shadow: 0px 0px 5px rgba(99, 99, 99, 0.842);
}

.contact-social {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10%;
  width: 50%;
}

.facebook {
  width: 50px;
  height: 50px;
  background-color: #3b5998;
  -webkit-box-shadow: 1px 1px 3px rgba(99, 99, 99, 0.842);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.twitter {
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 1px 1px 3px rgba(99, 99, 99, 0.842);
  background-color: #55ace5;
  align-items: center;
  justify-content: center;
  display: flex;
}

.instagram {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #f09433; 
  -webkit-box-shadow: 1px 1px 3px rgba(99, 99, 99, 0.842);
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1); 
}

.gallery {
  margin: 100px;
}

.gallery-header {
  padding-left: 3%;
  padding-bottom: 5%;
  width: 40%;
}

.gallery-pics {
  background-color: rgb(50, 94, 238);
  -webkit-box-shadow: 1px 1px 3px rgba(99, 99, 99, 0.842);
  padding: 2%;
  border-radius: 1em;
  background-color: rgba(235, 235, 235, 0.842)
}

.reviews {
  margin: 100px;
}

.review {
  -webkit-box-shadow: 1px 1px 3px rgba(99, 99, 99, 0.842);
  margin: 3em;
  padding: 2.5em;
  border-radius: 10px;
  background-color:rgba(224, 224, 224, 0.842);
  display: flex;
  align-items: flex-start;
  flex-flow: column;
}

.review-header {
  display:flex;
  flex-flow: column;
  align-items: flex-start;
}

.review-rating{
  display: flex;
  margin-top: 25px;
}

.review-rating h4{
  padding-left: 10px;
}

.review-content {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-top: 25px;
}

.review-content h2 {
  margin-bottom: 10px;
}

.review-content p {
  font-size: 1.3em;
}

.addReview{
  -webkit-box-shadow: 0px 0px 3px rgba(99, 99, 99, 0.842);
  padding: 50px;
  border-radius: 5px;
  margin-top: 50px;
  background-color:rgba(240, 240, 240, 0.842);
}

.addReview-header{
  display: flex;
  margin-top: 50px;
}

.addReview-header h1 {
  font-size: 2.5em;
  color: rgb(109, 189, 17);
}

.rating-stars{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 1.7px rgba(99, 99, 99, 0.842);
  background-color:rgba(255, 255, 255, 0.842);
  border-radius: 5px;
  width: 185px;
  height: 55px;
}

.rating-stars p {
  margin-left: 12px;
}

.getQuote{
  -webkit-box-shadow: 0px 0px 3px rgba(99, 99, 99, 0.842);
  padding: 50px;
  border-radius: 5px;
  margin-top: 50px;
  background-color:rgba(240, 240, 240, 0.842);
}

.getQuote-header{
  display: flex;
  margin-top: 50px;
}

.getQuote-header h1 {
  font-size: 2.5em;
  color: rgb(109, 189, 17);
}

.getQuote-title {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin-bottom: 30px;
}

.getQuote-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-right: 30px;
  padding-left: 10px; 
  background-color: white;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 1px rgba(99, 99, 99, 0.842);
}

.getQuote-item input {
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}